@{
    ViewData["Title"] = "Trang chu";
}
  <section id="intro">
    <div class="image-holder position-relative home-hero-slider" aria-label="Không gian Telly Hotel">
      <img src="/telly/images/banner-item1.jpg" alt="Hồ bơi nghỉ dưỡng tại Telly" class="img-fluid is-active">
      <img src="/telly/images/banner-item2.jpg" alt="Phòng nghỉ tiện nghi tại Telly" class="img-fluid">
      <img src="/telly/images/banner-item3.jpg" alt="Khu nghỉ dưỡng Telly về đêm" class="img-fluid">
      <img src="/telly/images/banner-item4.jpg" alt="Không gian thư giãn tại Telly" class="img-fluid">
    </div>
    <div class="container-lg">
      <div class="banner-content position-absolute">
        <span class="light text-uppercase">Khách sạn hiện đại tại trung tâm</span>
        <h1 class="banner-title light display-1 text-capitalize py-3 lh-sm">Tận hưởng kỳ nghỉ trọn vẹn tại Telly.
        </h1>
        <p class="light fs-5 pb-4">Không gian phòng tiện nghi, dịch vụ tận tâm và quy trình đặt phòng nhanh chóng cho chuyến công tác hoặc nghỉ dưỡng của bạn.</p>

        <a href="/Room/Rooms" class="btn btn-arrow btn-pill btn-medium btn-outline-light position-relative">
          <span>Xem phòng<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36.1 25.8"
              enable-background="new 0 0 36.1 25.8" xml:space="preserve">
              <g>
                <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="0" y1="12.9" x2="34"
                  y2="12.9"></line>
                <polyline fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10"
                  points="22.2,1.1 34,12.9 22.2,24.7   "></polyline>
              </g>
            </svg></span>
        </a>
      </div>
      <div class="social-links position-absolute">
        <ul class="list-unstyled d-flex d-md-block justify-content-center">
          <li class="pb-3 pe-3"><a href="#" class="light">Fb</a></li>
          <li class="pb-3 pe-3"><a href="#" class="light">Ig</a></li>
          <li class="pb-3 pe-3"><a href="#" class="light">Tw</a></li>
          <li class="pb-3 pe-3"><a href="#" class="light">Li</a></li>
          <li><a href="#" class="light">Yt</a></li>
        </ul>
      </div>
      <div class="home-hero-dots position-absolute" aria-label="Chọn ảnh giới thiệu">
        <button type="button" class="is-active" aria-label="Ảnh 1"></button>
        <button type="button" aria-label="Ảnh 2"></button>
        <button type="button" aria-label="Ảnh 3"></button>
        <button type="button" aria-label="Ảnh 4"></button>
      </div>
    </div>
  </section>

  <section id="about" class="padding-xlarge text-center position-relative overflow-hidden">
    <div class="pattern-overlay pattern-right position-absolute">
      <img src="/telly/images/leaf-pattern1.png" alt="pattern">
    </div>
    <div class="container">
      <div class="row">
        <div class="detail mb-4">
          <h2 class="display-5 text-capitalize">Chào mừng đến với Telly Hotel</h2>
          <p>Telly là điểm dừng chân dành cho những vị khách cần sự chỉn chu, yên tĩnh và thuận tiện. Từ phòng nghỉ, đặt phòng đến hỗ trợ khách hàng, mọi trải nghiệm đều được thiết kế để bạn dễ dàng tận hưởng chuyến đi.</p>
        </div>
      </div>

      <a href="/Home/AboutUs"
        class="btn btn-arrow btn-pill btn-medium btn-outline-dark bg-light text-black position-relative">
        <span>Về chúng tôi<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36.1 25.8"
            enable-background="new 0 0 36.1 25.8" xml:space="preserve">
            <g>
              <line fill="none" stroke="#111111" stroke-width="3" stroke-miterlimit="10" x1="0" y1="12.9" x2="34"
                y2="12.9"></line>
              <polyline fill="none" stroke="#111111" stroke-width="3" stroke-miterlimit="10"
                points="22.2,1.1 34,12.9 22.2,24.7   "></polyline>
            </g>
          </svg></span>
      </a>
    </div>
  </section>

  <section id="activities" class="overflow-hidden">
    <div class="container-fluid p-0">
      <div class="row">

        <div class="col-lg-6 col-md-12 g-0">
          <div class="image-holder">
            <img src="/telly/images/single-image.jpg" alt="hotel" class="img-fluid">
          </div>
        </div>

        <div class="col-lg-6 col-md-12 bg-gray-100 d-flex align-items-center justify-content-center">
          <div class="detail">

            <div class="display-header">
              <h2 class="display-5">Tiện ích nổi bật</h2>
              <p>Telly chuẩn bị các dịch vụ cần thiết cho một kỳ lưu trú thoải mái: thư giãn, ẩm thực, hồ bơi và không gian sinh hoạt phù hợp cho cả công tác lẫn nghỉ dưỡng.</p>
            </div>

            <div class="row mt-5">

              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="icon-box d-flex align-items-center pb-5">
                  <div class="icon-box-icon">
                    <svg class="spa">
                      <use xlink:href="#spa"></use>
                    </svg>
                  </div>
                  <div class="icon-box-content ps-3">
                    <h3 class="card-title text-dark fs-4">Spa</h3>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="icon-box d-flex align-items-center pb-5">
                  <div class="icon-box-icon">
                    <svg class="fishing">
                      <use xlink:href="#fishing"></use>
                    </svg>
                  </div>
                  <div class="icon-box-content ps-3">
                    <h3 class="card-title text-dark fs-5">Thư giãn</h3>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="icon-box d-flex align-items-center pb-5">
                  <div class="icon-box-icon">
                    <svg class="bar">
                      <use xlink:href="#bar"></use>
                    </svg>
                  </div>
                  <div class="icon-box-content ps-3">
                    <h3 class="card-title text-dark fs-5">Quầy bar</h3>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="icon-box d-flex align-items-center pb-5">
                  <div class="icon-box-icon">
                    <svg class="pool">
                      <use xlink:href="#pool"></use>
                    </svg>
                  </div>
                  <div class="icon-box-content ps-3">
                    <h3 class="card-title text-dark fs-5">Hồ bơi</h3>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="icon-box d-flex align-items-center pb-5">
                  <div class="icon-box-icon">
                    <svg class="dining">
                      <use xlink:href="#dining"></use>
                    </svg>
                  </div>
                  <div class="icon-box-content ps-3">
                    <h3 class="card-title text-dark fs-5">Nhà hàng</h3>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="icon-box d-flex align-items-center pb-5">
                  <div class="icon-box-icon">
                    <svg class="barbeque">
                      <use xlink:href="#barbeque"></use>
                    </svg>
                  </div>
                  <div class="icon-box-content ps-3">
                    <h3 class="card-title text-dark fs-5">BBQ</h3>
                  </div>
                </div>
              </div>

            </div>
            <!-- row -->

            <a href="/Home/Services"
              class="btn btn-arrow btn-pill btn-medium btn-outline-dark bg-light text-black position-relative">
              <span>Xem dịch vụ<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36.1 25.8"
                  enable-background="new 0 0 36.1 25.8" xml:space="preserve">
                  <g>
                    <line fill="none" stroke="#111111" stroke-width="3" stroke-miterlimit="10" x1="0" y1="12.9" x2="34"
                      y2="12.9"></line>
                    <polyline fill="none" stroke="#111111" stroke-width="3" stroke-miterlimit="10"
                      points="22.2,1.1 34,12.9 22.2,24.7   "></polyline>
                  </g>
                </svg></span>
            </a>

          </div>
        </div>

      </div>
    </div>
  </section>

  <section id="achievements" class="padding-xlarge">
    <div class="container">
      <div class="display-header">
        <h2>Dấu ấn của Telly</h2>
        <p>Những con số thể hiện sự tin tưởng của khách hàng và nỗ lực vận hành mỗi ngày.</p>
      </div>

      <div class="row mt-5">

        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="counter-info">
            <div class="counter-number">
              <h5 class="fw-bold m-0" data-to="5120" data-speed="8000"><span class="number-item">25</span> <span
                  class="digital-item">k</span></h5>
            </div>
            <p class="counter-description text-uppercase">Khách hài lòng</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="counter-info">
            <div class="counter-number">
              <h5 class="fw-bold m-0" data-to="5120" data-speed="8000"><span class="number-item">160</span></h5>
            </div>
            <p class="counter-description text-uppercase">Phòng lưu trú</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="counter-info">
            <div class="counter-number">
              <h5 class="fw-bold m-0" data-to="5120" data-speed="8000"><span class="number-item">28</span></h5>
            </div>
            <p class="counter-description text-uppercase">Giải thưởng</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="counter-info">
            <div class="counter-number">
              <h5 class="fw-bold m-0" data-to="5120" data-speed="8000"><span class="number-item">100</span></h5>
            </div>
            <p class="counter-description text-uppercase">Nhân sự</p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section id="our-rooms" class="position-relative padding-large pt-0">
    <div class="container">
      <div class="row">
        <div class="display-header d-flex justify-content-between pb-3">
          <h2 class="display-7 text-dark fw-normal">Không gian phòng nổi bật</h2>
        </div>
        <div class="swiper-arrow">
          <svg class="icon-arrow-left border rounded-circle position-absolute">
            <use xlink:href="#icon-arrow-left" />
          </svg>
        </div>
        <div class="swiper product-swiper ps-md-3">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="product-card position-relative overflow-hidden">
                <div class="image-holder">
                  <img src="/telly/images/product-item1.jpg" alt="product-item" class="img-fluid overflow-hidden">
                </div>
                <div class="product-detail mt-3">
                  <h3><a href="/Room/Rooms">Phòng Standard</a></h3>
                  <div class="detail position-absolute">
                    <table>
                      <tbody>
                        <tr>
                          <td class="pe-2"><strong>Giá:</strong></td>
                          <td class="price"><strong>450.000 VND</strong> / đêm</td>
                        </tr>
                        <tr>
                          <td class="pe-2"><strong>Diện tích:</strong></td>
                          <td>28 m²</td>
                        </tr>
                        <tr>
                          <td class="pe-2"><strong>Sức chứa:</strong></td>
                          <td>Tối đa 2 khách</td>
                        </tr>
                        <tr>
                          <td class="pe-2"><strong>Giường:</strong></td>
                          <td>1 giường đôi</td>
                        </tr>
                        <tr>
                          <td class="pe-2"><strong>Tiện ích:</strong></td>
                          <td>WiFi, TV, phòng tắm riêng</td>
                        </tr>
                      </tbody>
                    </table>
                    <a href="/Room/Rooms" class="btn btn-small btn-black btn-pill mt-3">Xem chi tiết</a>
                  </div>
                </div>
              </div>
              <!-- product-card -->
            </div>
            <div class="swiper-slide">
              <div class="product-card position-relative overflow-hidden">
                <div class="image-holder">
                  <img src="/telly/images/product-item2.jpg" alt="product-item" class="img-fluid overflow-hidden">
                </div>
                <div class="product-detail mt-3">
                  <h3><a href="/Room/Rooms">Phòng Deluxe</a></h3>
                  <div class="detail position-absolute">
                    <table>
                      <tbody>
                        <tr>
                          <td class="pe-2"><strong>Giá:</strong></td>
                          <td class="price"><strong>650.000 VND</strong> / đêm</td>
                        </tr>
                        <tr>
                          <td class="pe-2"><strong>Diện tích:</strong></td>
                          <td>34 m²</td>
                        </tr>
                        <tr>
                          <td class="pe-2"><strong>Sức chứa:</strong></td>
                          <td>Tối đa 3 khách</td>
                        </tr>
                        <tr>
                          <td class="pe-2"><strong>Giường:</strong></td>
                          <td>1 giường queen</td>
                        </tr>
                        <tr>
                          <td class="pe-2"><strong>Tiện ích:</strong></td>
                          <td>WiFi, minibar, ban công</td>
                        </tr>
                      </tbody>
                    </table>
                    <a href="/Room/Rooms" class="btn btn-small btn-black btn-pill mt-3">Xem chi tiết</a>
                  </div>
                </div>
              </div>
              <!-- product-card -->
            </div>
            <div class="swiper-slide">
              <div class="product-card position-relative overflow-hidden">
                <div class="image-holder">
                  <img src="/telly/images/product-item3.jpg" alt="product-item" class="img-fluid overflow-hidden">
                </div>
                <div class="product-detail mt-3">
                  <h3><a href="/Room/Rooms">Phòng Suite</a></h3>
                  <div class="detail position-absolute">
                    <table>
                      <tbody>
                        <tr>
                          <td class="pe-2"><strong>Giá:</strong></td>
                          <td class="price"><strong>900.000 VND</strong> / đêm</td>
                        </tr>
                        <tr>
                          <td class="pe-2"><strong>Diện tích:</strong></td>
                          <td>42 m²</td>
                        </tr>
                        <tr>
                          <td class="pe-2"><strong>Sức chứa:</strong></td>
                          <td>Tối đa 4 khách</td>
                        </tr>
                        <tr>
                          <td class="pe-2"><strong>Giường:</strong></td>
                          <td>1 giường king</td>
                        </tr>
                        <tr>
                          <td class="pe-2"><strong>Tiện ích:</strong></td>
                          <td>WiFi, lounge, bồn tắm</td>
                        </tr>
                      </tbody>
                    </table>
                    <a href="/Room/Rooms" class="btn btn-small btn-black btn-pill mt-3">Xem chi tiết</a>
                  </div>
                </div>
              </div>
              <!-- product-card -->
            </div>
            <div class="swiper-slide">
              <div class="product-card position-relative overflow-hidden">
                <div class="image-holder">
                  <img src="/telly/images/product-item1.jpg" alt="product-item" class="img-fluid overflow-hidden">
                </div>
                <div class="product-detail mt-3">
                  <h3><a href="/Room/Rooms">Phòng Family</a></h3>
                  <div class="detail position-absolute">
                    <table>
                      <tbody>
                        <tr>
                          <td class="pe-2"><strong>Giá:</strong></td>
                          <td class="price"><strong>780.000 VND</strong> / đêm</td>
                        </tr>
                        <tr>
                          <td class="pe-2"><strong>Diện tích:</strong></td>
                          <td>38 m²</td>
                        </tr>
                        <tr>
                          <td class="pe-2"><strong>Sức chứa:</strong></td>
                          <td>Tối đa 4 khách</td>
                        </tr>
                        <tr>
                          <td class="pe-2"><strong>Giường:</strong></td>
                          <td>2 giường đơn</td>
                        </tr>
                        <tr>
                          <td class="pe-2"><strong>Tiện ích:</strong></td>
                          <td>WiFi, TV, khu sinh hoạt</td>
                        </tr>
                      </tbody>
                    </table>
                    <a href="/Room/Rooms" class="btn btn-small btn-black btn-pill mt-3">Xem chi tiết</a>
                  </div>
                </div>
              </div>
              <!-- product-card -->
            </div>
          </div>
        </div>
        <div class="swiper-arrow">
          <svg class="icon-arrow-right border rounded-circle position-absolute">
            <use xlink:href="#icon-arrow-right" />
          </svg>
        </div>
        <div class="btn-center mt-5">

          <a href="/Room/Rooms"
            class="btn btn-arrow btn-pill btn-medium btn-outline-dark bg-light text-black position-relative">
            <span>Xem tất cả phòng<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36.1 25.8"
                enable-background="new 0 0 36.1 25.8" xml:space="preserve">
                <g>
                  <line fill="none" stroke="#111111" stroke-width="3" stroke-miterlimit="10" x1="0" y1="12.9" x2="34"
                    y2="12.9"></line>
                  <polyline fill="none" stroke="#111111" stroke-width="3" stroke-miterlimit="10"
                    points="22.2,1.1 34,12.9 22.2,24.7   "></polyline>
                </g>
              </svg></span>
          </a>

        </div>
      </div>
    </div>
  </section>

  <section id="testimonials" class="position-relative bg-gray-100 padding-xlarge">
    <div class="pattern-overlay pattern-left position-absolute">
      <img src="/telly/images/leaf-pattern2.png" alt="pattern">
    </div>
    <div class="container">
      <div class="row">
        <div class="review-content position-relative">
          <div class="swiper testimonial-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide text-center d-flex justify-content-lg-center">
                <div class="review-item col-lg-8 col-md-12">
                  <blockquote>“Phòng sạch, yên tĩnh và nhân viên hỗ trợ rất nhanh. Tôi đặt phòng online chỉ vài phút là hoàn tất, khi đến nhận phòng mọi thứ đã sẵn sàng.”
                  </blockquote>
                  <div class="author-detail">
                    <div class="name text-dark text-uppercase pt-2">- Minh Anh, TP. Hồ Chí Minh</div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide text-center d-flex justify-content-lg-center">
                <div class="review-item col-lg-8 col-md-12">
                  <blockquote>“Vị trí thuận tiện, bữa sáng ổn và không gian phòng đúng như hình. Telly phù hợp cho chuyến công tác ngắn ngày của tôi.”
                  </blockquote>
                  <div class="author-detail">
                    <div class="name text-dark text-uppercase pt-2">- Hoàng Nam, Đà Nẵng</div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide text-center d-flex justify-content-lg-center">
                <div class="review-item col-md-8">
                  <blockquote>“Gia đình tôi thích hồ bơi và dịch vụ phòng. Nhân viên tư vấn loại phòng rất kỹ nên chuyến đi cuối tuần khá thoải mái.”
                  </blockquote>
                  <div class="author-detail">
                    <div class="name text-dark text-uppercase pt-2">- Thu Hà, Cần Thơ</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </section>

  <section id="booking-wrap" class="padding-large">
    <div class="container">
      <div class="row">

        <form action="" class="booking-form d-flex flex-wrap align-items-center justify-content-around">
          <div class="booking-content d-flex flex-wrap col-lg-8">
            <div class="booking-item">
              <label for="date-in" class="text-uppercase d-block">Nhận phòng</label>
              <div class="date" id="select-arrival-date"></div>
            </div>
            <div class="booking-item">
              <label for="date-in" class="text-uppercase d-block">Trả phòng</label>
              <div class="date" id="select-departure-date"></div>
            </div>
            <div class="booking-item">
              <label class="text-uppercase d-block">Số phòng</label>
              <input type="number" class="booking" name="rooms" min="01" max="5" placeholder="01" value="01">
            </div>
            <div class="booking-item">
              <label class="text-uppercase d-block">Số khách</label>
              <input type="number" class="booking" name="guests" min="01" max="10" placeholder="01" value="01">
            </div>
          </div>
          <button type="button" class="btn btn-arrow btn-pill btn-medium btn-dark position-relative" data-booking-drawer-open>
            <span>Kiểm tra phòng trống<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36.1 25.8"
                enable-background="new 0 0 36.1 25.8" xml:space="preserve">
                <g>
                  <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="0" y1="12.9" x2="34"
                    y2="12.9"></line>
                  <polyline fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10"
                    points="22.2,1.1 34,12.9 22.2,24.7   "></polyline>
                </g>
              </svg></span>
          </button>
        </form>

      </div>
    </div>
  </section>

  <section id="video-player" class="position-relative overflow-hidden">
    <div class="image-holder">
      <img src="/telly/images/video-item.jpg" alt="video" class="img-fluid">
    </div>
    <a type="button" data-bs-toggle="modal" data-src="https://www.youtube.com/embed/W_tIumKa8VY"
      data-bs-target="#myModal" class="play-btn position-absolute d-flex justify-content-center align-items-center">
      <svg class="player light" width="290" height="180">
        <use xlink:href="#player"></use>
      </svg>
    </a>
  </section>

  <section id="latest-blog" class="padding-large">
    <div class="container">
      <div class="row">
        <div class="display-header">
          <h2 class="display-5 text-dark">Tin tức mới nhất</h2>
          <p>Cập nhật mẹo đặt phòng, trải nghiệm lưu trú và ưu đãi từ Telly.</p>
        </div>
        <div class="post-grid d-flex flex-wrap mt-4">

          <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
            <div class="card-item">
              <div class="card-body p-0 d-flex">
                <div class="meta-date me-3">
                  <span class="meta-day">15</span>
                  <span class="meta-month text-uppercase">Th01</span>
                </div>
                <div class="card-detail">
                  <h3 class="card-title fs-4 text-capitalize fw-semibold">
                    <a href="/Home/Blog">Cách chọn phòng phù hợp cho kỳ nghỉ ngắn ngày</a>
                  </h3>
                  <p class="blog-paragraph">Gợi ý chọn loại phòng, thời điểm đặt và các tiện ích nên ưu tiên.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
            <div class="card-item">
              <div class="card-body p-0 d-flex">
                <div class="meta-date me-3">
                  <span class="meta-day">25</span>
                  <span class="meta-month">Th01</span>
                </div>
                <div class="card-detail">
                  <h3 class="card-title fs-4 text-capitalize fw-semibold">
                    <a href="/Home/Blog">Tận hưởng spa và thư giãn ngay trong khách sạn</a>
                  </h3>
                  <p class="blog-paragraph">Những liệu trình giúp phục hồi năng lượng sau ngày dài di chuyển.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
            <div class="card-item">
              <div class="card-body p-0 d-flex">
                <div class="meta-date me-3">
                  <span class="meta-day">27</span>
                  <span class="meta-month">Th01</span>
                </div>
                <div class="card-detail">
                  <h3 class="card-title fs-4 text-capitalize fw-semibold">
                    <a href="/Home/Blog">Mẹo lưu trú an toàn và thoải mái tại khách sạn</a>
                  </h3>
                  <p class="blog-paragraph">Các lưu ý nhỏ khi nhận phòng, bảo quản hành lý và sử dụng dịch vụ.</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="overflow-hidden">
    <div class="row">

      <div class="col-lg-6 col-md-12 bg-gray-100 d-flex justify-content-center align-items-center g-0">
        <div class="contact-detail">

          <h2>Liên hệ với Telly</h2>
          <p>Cần tư vấn đặt phòng, kiểm tra phòng trống hoặc hỗ trợ trong quá trình lưu trú? Gửi thông tin cho chúng tôi, đội ngũ Telly sẽ phản hồi sớm nhất.</p>
          <ul class="list-unstyled">
                    <li><strong>Địa chỉ:</strong>Số 1 đường Hùng Vương, Tp.Huế</li>
            <li><strong>Điện thoại:</strong> 079 559 6255</li>
            <li><strong>Email:</strong> <a href="mailto:info@telly.com">info@@telly.com</a></li>
          </ul>
          <form action="" class="contact-form my-5">
            <textarea name="text" placeholder="Nội dung cần hỗ trợ"
              class="text-dark w-100 border-0 bg-transparent fs-4 mb-4"></textarea>
            <input type="text" name="full name" placeholder="Họ và tên"
              class="text-dark w-100 border-0 bg-transparent fs-4 mb-4">
            <input type="text" name="email address" placeholder="Email liên hệ"
              class="text-dark w-100 border-0 bg-transparent fs-4 mb-4">
          </form>

          <button class="btn btn-arrow btn-pill btn-medium btn-dark position-relative">
            <span>Gửi yêu cầu<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36.1 25.8"
                enable-background="new 0 0 36.1 25.8" xml:space="preserve">
                <g>
                  <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="0" y1="12.9" x2="34"
                    y2="12.9"></line>
                  <polyline fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10"
                    points="22.2,1.1 34,12.9 22.2,24.7   ">
                  </polyline>
                </g>
              </svg>
            </span>
          </button>

        </div>
      </div>

      <div class="col-lg-6 col-md-12 g-0">
        <div class="image-holder">
          <img src="/telly/images/single-image2.jpg" alt="single image" class="img-fluid">
        </div>
      </div>

    </div>
  </section>

@section Scripts {
  <script>
    (function () {
      var slides = Array.prototype.slice.call(document.querySelectorAll(".home-hero-slider img"));
      var dots = Array.prototype.slice.call(document.querySelectorAll(".home-hero-dots button"));
      var activeIndex = 0;
      var timerId = null;

      if (slides.length <= 1) {
        return;
      }

      function showSlide(index) {
        activeIndex = (index + slides.length) % slides.length;
        slides.forEach(function (slide, slideIndex) {
          slide.classList.toggle("is-active", slideIndex === activeIndex);
        });
        dots.forEach(function (dot, dotIndex) {
          dot.classList.toggle("is-active", dotIndex === activeIndex);
        });
      }

      function startAutoSlide() {
        window.clearInterval(timerId);
        timerId = window.setInterval(function () {
          showSlide(activeIndex + 1);
        }, 4600);
      }

      dots.forEach(function (dot, index) {
        dot.addEventListener("click", function () {
          showSlide(index);
          startAutoSlide();
        });
      });

      startAutoSlide();
    })();
  </script>
}
